@font-face {
	font-family: "police";
	src: url('./font.ttf');
}

.noire{
	background-color: grey;
	width: 5em;
	height : 5em;
	text-align: center;
}

.blanche{
	background-color: lightgrey;
	width: 5em;
	height : 5em;
	text-align: center;
}

.vert{
	border :solid;
	border-color : green;
	border-width: 5px;
}
.rouge{
	border :solid;
	border-color : red;
	border-width: 5px;
}


table{
	border : solid;
	border-width: 5px;
	border-collapse: collapse;
	margin: auto;
	margin-top: 5%;
}
img{
	width: 3em;
	height: 3em;
}

body{
	background-color: brown;
	font-family: police;
}

h1{
	text-align: center;
	margin : auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border : solid;
	border-width: 2px;
	border-color : grey;
	border-radius: 30px;
	color : lightgrey;
	width : 10em;
	font-weight: bold;
	font-size:2em;
}



h3{
	font-size:1.5em;
}

#htp{
	margin : auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border : solid;
	border-width: 2px;
	border-color : grey;
	border-radius: 30px;
	color : lightgrey;
	font-size : 1em;
}



.timer{
	text-align: center;
	border : solid;
	border-width : 2px;
	border-color: grey;
	border-radius : 30px;
	color: lightgrey;
	font-size: 1.5em;
	transition: font-size 1s;
	width : 49%;
	display : inline-block;

}

.timer:hover{
	font-size: 3em;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }

